<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.irfanullah.ecommerce">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".appointmentsnotifications.AppointmentsNotificationActivity" android:parentActivityName=".main.MainActivity">

        </activity>
        <activity android:name=".UserAppointments.UserAppointmentsActivity" android:parentActivityName=".main.MainActivity"></activity>
        <activity
            android:name=".service.AddServiceActivity"
            android:parentActivityName=".service.ServicesActivity"></activity>
        <activity
            android:name=".ChatActivity.ChatActivity"
            android:parentActivityName=".main.MainActivity"></activity>
        <activity
            android:name=".service.ServicesActivity"
            android:parentActivityName=".main.MainActivity" />
        <activity android:name=".appointments.AppointmentActivity" />
        <activity
            android:name=".addgallerypic.AddGalleryPicActivity"
            android:parentActivityName=".main.MainActivity" />
        <activity android:name=".gallery.GalleryActivity" />
        <activity
            android:name=".profile.ProfileActivity"
            android:parentActivityName=".main.MainActivity" />
        <activity
            android:name=".membercheckouts.MemberCheckoutsActivity"
            android:parentActivityName=".main.MainActivity" />
        <activity
            android:name=".order.OrderActivity"
            android:parentActivityName=".main.MainActivity" />
        <activity
            android:name=".product.ProductActivity"
            android:parentActivityName=".products.ProductsActivity" />
        <activity
            android:name=".addproduct.AddProductActivity"
            android:parentActivityName=".products.ProductsActivity" />
        <activity
            android:name=".editproduct.EditProductActivity"
            android:parentActivityName=".products.ProductsActivity" />
        <activity
            android:name=".products.ProductsActivity"
            android:parentActivityName=".main.MainActivity" />
        <activity
            android:name=".category.AddCategoryActivity"
            android:parentActivityName=".main.MainActivity" />
        <activity
            android:name=".login.LoginActivity"
            android:theme="@style/FullScreenAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.MainActivity" />
    </application>

</manifest>